*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cardItem{
    height: 460px;
    width: 290px;
    padding: 20px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0 ,0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    
    
}
.cardItem .cardImg{
    height: 50%;
    display: flex;
    justify-content: center;
}

.cardItem .cardImg img {
    width: 100%;
}

.cardDescription{
    display: flex;
    flex-direction: column;
    height: 35%;
}

.cardDescription .title{
    font-size: 21px;
    margin: 6px 0;
}

.cardDescription .description{
    display: none;
}

.cardDescription .cant {
    color: black;
    font-size: 13px;
    margin: 6px 0;
}

.cardDescription .precio {
    color: #5b00fb;
    font-size: 40px;
    font-weight: bold;
    margin: 6px 0;
}

.buttons{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons #detalles{
    height: 55px;
    width: 78%;
    border-radius: 50px;
    background-color: #5b00fb;
    color: white;
    font-size: 20px;
    border: none;
}

.buttons #detalles:hover{
    background-color: #4c00d1;
}

.buttons #Addcart{
    background-color: #5b00fb;
    height: 55px;
    width: 55px;
    border-radius: 50%;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.buttons #Addcart img{

    transform:scale(0.8)
}
.buttons #detalleshover, .buttons #Addcart:hover{
    background-color: #4c00d1;
}