/* .contenedor-carrito {
    display: flex;
} */

.contenedor-notificacion {
    width: 15px;
    height: 15px;
    border-radius: 100%;
    background-color: red;
    color: white;
    font-size: 10px;
}